<template lang="html">
  <div>
    <a v-if="external" tabindex="0" class="base-link" :href="to">
      <slot />
    </a>
    <router-link v-else :class="`base-link base-link--${size}`" :to="to">
      <slot />
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'BaseLink',

  props: {
    to: {
      type: [String, Object],
      default: '#'
    },
    size: {
      type: String,
      default: 'sm'
    }
  },

  computed: {
    external() {
      return typeof this.to === 'string' && this.to.includes('http')
    }
  }
}
</script>

<style lang="css" scoped>
.base-link {
  @apply cursor-pointer;
  @apply my-1;
  @apply select-none;
  @apply uppercase font-medium text-gray-500 text-2xs tracking-wide;
  @apply block;
  &:hover {
    @apply text-gray-700;
  }
  &:focus {
    @apply outline-none;
    @apply text-gray-700;
  }
  &--md {
    @apply normal-case font-normal text-sm text-gray-600;
    &:hover {
      @apply text-gray-900;
    }
  }
}
</style>
