<template lang="html">
  <form class="form">
    <template v-if="!isSigningIn">
      <h1 class="form__title">
        Hello there!
      </h1>
      <h2 class="form__subtitle">
        Sign in using your penguin account and start using your favourite apps
      </h2>
      <base-input v-model="credentials.identifier" label="username / email" />
      <base-input v-model="credentials.password" label="password" type="password" />
      <base-checkbox v-model="storeSession" label="Keep me signed in" />
      <base-button class="form__button" @click="signin({ credentials, storeSession })" :icon="['fas', 'arrow-right']" />
    </template>
    <template v-else>
      <base-loader />
    </template>
  </form>
</template>

<script>
import BaseCheckbox from '@/components/shared/base-checkbox'
import BaseInput from '@/components/shared/base-input'
import BaseButton from '@/components/shared/base-button'
import BaseLoader from '@/components/shared/base-loader'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'SigninForm',

  components: { BaseInput, BaseCheckbox, BaseButton, BaseLoader },

  data() {
    return {
      storeSession: false,
      credentials: {
        identifier: '',
        password: ''
      }
    }
  },

  computed: {
    ...mapGetters(['isSigningIn'])
  },

  methods: {
    ...mapActions(['signin'])
  }
}
</script>

<style lang="css" scoped></style>
