<template lang="html">
  <base-link :to="{ name: 'signin' }">
    Already have an account? Sign in!
  </base-link>
</template>

<script>
import BaseLink from '@/components/shared/base-link'
export default {
  name: 'SigninLink',
  components: { BaseLink }
}
</script>
