<template lang="html">
  <div :class="className" @click="handleClick">
    <icon class="base-checkbox__icon" :icon="icon" />
    <input v-model="isChecked" type="checkbox" tab-index="0" @focus="isFocused = true" @blur="isFocused = false" />
    <label v-if="label" class="base-checkbox__label">
      {{ label }}
    </label>
  </div>
</template>

<script>
export default {
  name: 'BaseCheckbox',

  model: {
    prop: 'isChecked',
    event: 'change'
  },

  props: {
    isChecked: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      isChecked_: false,
      isFocused: false
    }
  },

  computed: {
    icon() {
      return this.isChecked_ ? ['fas', 'check-square'] : ['fas', 'square']
    },
    className() {
      const className = ['base-checkbox']
      if (this.isChecked_) className.push('base-checkbox--checked')
      if (this.isFocused) className.push('base-checkbox--focused')
      return className.join(' ')
    }
  },

  watch: {
    isChecked: {
      immediate: true,
      handler(isChecked) {
        this.isChecked_ = isChecked
      }
    }
  },

  methods: {
    handleClick() {
      this.isChecked_ = !this.isChecked_
      this.$emit('change', this.isChecked_)
    }
  }
}
</script>

<style lang="css" scoped></style>
