<template lang="html">
  <div class="flex justify-between items-center">
    <logo :size="logo" />
    <icon icon="meteor" class="text-gray-500" />
  </div>
</template>

<script>
import Logo from '@/components/shared/logo'
export default {
  name: 'SidebarHeader',
  components: { Logo },
  props: ['logo']
}
</script>

<style lang="css" scoped></style>
