<template lang="html">
  <div class="text-center">
    <div class="loader">
      <div class="loader__inner" />
      <div class="loader__ring" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseLoader'
}
</script>

<style lang="css" scoped></style>
