.form {
  @apply leading-tight tracking-wide;
  @apply flex flex-col;
  &__title {
    @apply text-4xl font-bold;
    @apply mt-5 mb-2;
  }
  &__subtitle {
    @apply text-xl font-thin;
    @apply mt-2 mb-5;
  }
  &__button {
    @apply my-6 mx-auto;
  }
  &__input {
    @display: block;
  }
}
