:root {
  --bg-gradient: linear-gradient(90deg, rgba(254,235,200,1) 0%, rgba(190,227,248,1) 25%, rgba(254,215,215,1) 50%, rgba(198,246,213,1) 75%, rgba(254,235,200,1) 100%);
}

h1 {
  @apply text-4xl font-bold;
  @apply mt-5 mb-2;
}

h2 {
  @apply text-xl font-semibold;
  @apply mt-3 mb-1;
}

p {
  @apply text-xl font-thin;
  @apply mt-2 mb-2;
}

li {
  @apply font-thin;
  @apply mt-1 mb-1;
}

.bg-gradient {
  background-image: var(--bg-gradient);
  background-size: 800%;
  &--animated {
    animation: bg-gradient-animation 3s linear infinite alternate;
  }
}

@keyframes bg-gradient-animation {
  0% {
    background-position: -50% 0%;
  }
  100% {
    background-position: 150% 0%;
  }
}
