<template lang="html">
  <div :class="className">
    <label class="base-input__label" v-if="label"> {{ label }} </label>
    <input
      ref="input"
      v-model="value_"
      class="base-input__input"
      name="input"
      autocomplete="new-password"
      :type="type_"
      @change="$emit('change', value_)"
      @focus="setFocus"
      @blur="unsetFocus"
    />
    <button type="button" tabindex="-1" v-if="type === 'password' && isFocused" @click.prevent="handleShow">
      <icon :icon="icon" class="base-input__icon" />
    </button>
  </div>
</template>

<script>
export default {
  name: 'BaseInput',

  model: {
    prop: 'value',
    event: 'change'
  },

  props: {
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    error: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'text'
    }
  },

  data() {
    return {
      isFocused: false,
      value_: '',
      show: false
    }
  },

  computed: {
    className() {
      const className = ['base-input']
      if (this.isFocused || this.value) className.push('base-input--focused')
      if (this.error) className.push('base-input--error')
      return className.join(' ')
    },
    type_() {
      return this.type !== 'password' ? this.type : this.show ? 'text' : 'password'
    },
    icon() {
      return ['far', this.show ? 'eye-slash' : 'eye']
    }
  },

  watch: {
    value: {
      immediate: true,
      handler(value) {
        this.value_ = value
      }
    }
  },

  methods: {
    setFocus() {
      this.isFocused = true
    },
    unsetFocus($event = { relatedTarget: null }) {
      // If input is empty and we have clicked on the show/hide button, we set the focus back to the input
      if (!this.value_ && $event.relatedTarget) this.$refs.input.focus()
      // If we have clicked somewhere else, blur the input
      if (!$event.relatedTarget) this.isFocused = false
    },
    handleShow() {
      this.show = !this.show
      this.setFocus()
    }
  }
}
</script>

<style lang="css" scoped></style>
