.base-input {
  @apply relative font-sans;
  @apply appearance-none;
  @apply my-2 h-16 w-full;
  @apply border-2 border-gray-200 rounded-lg;
  @apply bg-gray-200;
  &--focused {
    @apply outline-none;
    @apply border-2 border-gray-900;
    @apply bg-white;
    .base-input__label {
      @apply my-2 mx-2;
    }
    .base-input__input{
      @apply pt-6;
    }
  }
  &--error {
    @apply border-red-400;
  }
  &:hover:not([class$='focused']) {
    @apply bg-gray-300;
    @apply border-gray-300;
  }
  &__label {
    transition: margin 0.2s;
    @apply pointer-events-none;
    @apply absolute;
    @apply my-6 mx-6;
    @apply text-gray-500 font-bold text-xs uppercase tracking-widest;
  }
  &__input {
    @apply appearance-none;
    @apply block;
    @apply mt-auto w-full h-full;
    @apply border-0 rounded-lg;
    @apply py-2 px-2;
    @apply text-xl;
    @apply bg-transparent;
    &:focus {
      @apply outline-none;
    }
  }
  &__icon {
    @apply absolute inset-y-0 right-0;
    @apply h-full;
    @apply mr-4;
    @apply cursor-pointer;
  }
}

.base-code {
  @apply flex justify-center;
  &__digit {
    @apply relative;
    @apply mx-1 my-2;
    @apply w-8 h-12;
  }
  &__digit-input {
    @apply z-0;
    @apply relative;
    @apply w-8 h-12;
    @apply cursor-pointer;
    @apply border-2 rounded-lg;
    @apply opacity-0;
    &:focus {
      @apply outline-none;
      @apply border-2 border-gray-900;
      @apply bg-white;
    }
    &:focus + .base-code__digit-tag {
      @apply border-2 border-gray-900;
      @apply bg-white;
    }
    &:focus + .base-code__digit-tag--active {
      @apply text-gray-600;
    }
    &:hover:not(:focus) + .base-code__digit-tag:not([class$='active']) {
      @apply bg-gray-300;
      @apply border-gray-300;
    }
  }
  &__digit-tag {
    @apply z-10;
    @apply pointer-events-none;
    @apply inline absolute inset-0 font-sans;
    @apply appearance-none;
    @apply w-8 h-12;
    @apply py-2 px-2;
    @apply border-2 border-gray-200 rounded-lg;
    @apply bg-gray-200;
    @apply text-xl text-center;
    &--error {
      @apply border-red-400;
    }
    &--active {
      @apply border-2 border-gray-900;
      @apply bg-white;
    }
  }
}

.base-checkbox {
  @apply flex items-center;
  @apply cursor-pointer;
  @apply my-2;
  &--checked {
    .base-checkbox__icon {
      @apply text-gray-800;
    }
    .base-checkbox__label {
      @apply text-gray-800;
    }
  }
  &--focused {
    .base-checkbox__label {
      @apply text-gray-800;
    }
  }
  &__icon {
    @apply text-lg text-gray-200;
  }
  &__label {
    @apply ml-2;
    @apply text-gray-500 text-sm font-medium;
  }
  & input {
    @apply opacity-0;
    @apply absolute;
  }
}
