<template lang="html">
  <button :class="className" @click.prevent="$emit('click')">
    <div class="base-button__inner">
      <icon v-if="icon" class="base-button__icon" :icon="icon" />
      <slot></slot>
    </div>
  </button>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    size: {
      type: String,
      default: 'lg',
      validator: (size) => ['sm', 'md', 'lg'].includes(size)
    },
    icon: {
      type: [Array, String],
      default: null
    }
  },
  computed: {
    className() {
      const className = ['base-button', 'bg-gradient', 'bg-gradient--animated']
      className.push(`base-button--${this.size}`)
      if (!this.$slots.default) className.push('base-button--circle')
      return className.join(' ')
    }
  }
}
</script>

<style lang="css" scoped>
.base-button {
  @apply relative;
  @apply text-xl text-gray-600 font-thin tracking-wide;
  @apply border-0 rounded-full;
  @apply p-2px;
  transition: transform 0.4s ease-out;
  &__inner {
    @apply inline-flex items-center justify-center;
    @apply bg-white;
    @apply px-4 py-2;
    @apply h-full w-full;
    @apply border-0 rounded-full;
  }
  &__icon {
    @apply text-gray-400;
  }
  &--circle {
    @apply w-17;
  }
  &--lg {
    @apply h-17;
    @apply text-3xl;
  }
  &--md {
    @apply h-9;
  }
  &:focus {
    @apply outline-none;
  }
  &:hover {
    transform: translateX(0.5rem);
  }
}
</style>
