<template lang="html">
  <a class="credits" href="#">
    <icon class="credits__icon credits__icon--term" :icon="['fas', 'terminal']" title="Coded" /> with
    <icon class="credits__icon credits__icon--heart" :icon="['fas', 'heart']" title="love" /> by Pedro
  </a>
</template>
<script>
export default {
  name: 'Credits'
}
</script>

<style lang="css" scoped>
.credits {
  transition: right 0.4s ease-out, background 0.4s ease-out;
  @apply select-none;
  @apply absolute bottom-0 right-0;
  @apply inline-block;
  @apply mx-4 my-4;
  @apply px-6 py-2;
  @apply bg-gray-100t;
  @apply border-0 rounded-full;
  @apply font-hairline;
  @apply cursor-pointer;
  &:hover {
    right: 16px;
    @apply bg-gray-100;
  }
  &__icon {
    &--term {
      @apply text-gray-700;
    }
    &--heart {
      @apply text-red-500;
    }
  }
}
</style>
