<template lang="html">
  <div class="">
    <div class="mt-16 mb-8">
      <h1 class="mb-4">🎉 Hello there, {{ username }}!</h1>
      <p>Welcome to the penguin platform!</p>
      <p>
        Browse into one of your apps or request access to them if you haven't done so already by clicking on the
        'request access' button.
      </p>
      <p>You can also update your account details or get your API token using the links below!</p>
    </div>
    <div class="my-8">
      <div class="my-4">
        <h2 class="account-links">Account</h2>
        <ul class="ml-2">
          <li><base-link size="md" to="change-username">Update username</base-link></li>
          <li><base-link size="md" to="change-email">Update email</base-link></li>
          <li><base-link size="md" to="change-password">Change password</base-link></li>
        </ul>
      </div>
      <div class="mt-16 flex">
        <base-button class="mx-auto" size="md">
          Get API token
        </base-button>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import BaseLink from '@/components/shared/base-link'
import BaseButton from '@/components/shared/base-button'
import { mapGetters } from 'vuex'
export default {
  name: 'UserMenu',
  components: { BaseLink, BaseButton },
  computed: {
    ...mapGetters(['username', 'email', 'createdAt']),
    time() {
      return moment(this.createdAt).diff(moment(), 'days')
    }
  }
}
</script>

<style lang="css" scoped>
.account-links {
  position: relative;
  display: inline-block;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-image: var(--bg-gradient);
    background-size: 800%;
    animation: bg-gradient-animation 3s linear infinite alternate;
  }
}
</style>
