<template>
  <section>
    <credits />
  </section>
</template>

<script>
import Credits from '@/components/shared/credits'
export default {
  name: 'HomeContent',
  components: { Credits }
}
</script>
